In [23]:
import numpy as np 
import pandas as pd 
from scipy.special import expit

In [14]:
N = 10000
 
neighborhood = np.array(range(N))
 
industry = neighborhood % 3
 
race = ((neighborhood % 3
         + np.random.binomial(3, p=0.2, size=N))) % 4 
income = np.random.gamma(25, 1000*(industry + 1))
crime = np.random.gamma(100000. / income, 100, size=N)
X = pd.DataFrame({'$R$': race, '$I$': income, '$C$': crime, 
                  '$E$': industry, '$N$': neighborhood})

In [9]:
X['intercept'] = 1.
X

            X  D         Y  intercept
0   -1.741168  1 -0.019556        1.0
1    0.008197  0 -1.270191        1.0
2    1.551990  1  3.273602        1.0
3    0.504216  1  2.225828        1.0
4   -0.439585  0 -1.717973        1.0
..        ... ..       ...        ...
995 -0.446051  1  1.275560        1.0
996 -0.050665  0 -1.329053        1.0
997  0.083005  1  1.804616        1.0
998 -0.307544  0 -1.585933        1.0
999  0.304509  1  2.026120        1.0

[1000 rows x 4 columns]

In [5]:
N = 10000
neighborhood = np.array(range(N))
industry = neighborhood % 3
industry

array([0, 1, 2, ..., 1, 2, 0])

In [11]:
# np.random.binomial(3, p=0.2, size=N)
income = np.random.gamma(25, 1000*(industry + 1))
income.shape

(10000,)

In [12]:
crime = np.random.gamma(100000. / income, 100, size=N)
crime

array([403.452856  , 232.40954591,  49.84048155, ..., 360.79110622,
       233.36969514, 291.17567791])

In [16]:
races = {0: 'african-american', 1: 'hispanic',
         2: 'asian', 3: 'white'}
X['race'] = X['$R$'].apply(lambda x: races[x])
X

      $R$           $I$         $C$  $E$   $N$              race
0       0  23473.205015  485.515695    0     0  african-american
1       1  40522.447011  411.520528    1     1          hispanic
2       2  73670.423225  224.012808    2     2             asian
3       0  32272.861538  547.730868    0     3  african-american
4       3  50028.649733  481.626668    1     4             white
...   ...           ...         ...  ...   ...               ...
9995    3  75949.078792  149.943943    2  9995             white
9996    1  21148.353307  588.665256    0  9996          hispanic
9997    1  44643.566381   96.493702    1  9997          hispanic
9998    2  79330.780632  115.147678    2  9998             asian
9999    1  29205.620369  253.996132    0  9999          hispanic

[10000 rows x 6 columns]

In [17]:
race_dummies = pd.get_dummies(X['race'])
race_dummies

      african-american  asian  hispanic  white
0                    1      0         0      0
1                    0      0         1      0
2                    0      1         0      0
3                    1      0         0      0
4                    0      0         0      1
...                ...    ...       ...    ...
9995                 0      0         0      1
9996                 0      0         1      0
9997                 0      0         1      0
9998                 0      1         0      0
9999                 0      0         1      0

[10000 rows x 4 columns]

In [18]:
X[race_dummies.columns] = race_dummies

In [21]:
X

,$R$,$I$,$C$,$E$,$N$,race,african-american,asian,hispanic,white
0,0,23473.205015,485.515695,0,0,african-american,1,0,0,0
1,1,40522.447011,411.520528,1,1,hispanic,0,0,1,0
2,2,73670.423225,224.012808,2,2,asian,0,1,0,0
3,0,32272.861538,547.730868,0,3,african-american,1,0,0,0
4,3,50028.649733,481.626668,1,4,white,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
9995,3,75949.078792,149.943943,2,9995,white,0,0,0,1
9996,1,21148.353307,588.665256,0,9996,hispanic,0,0,1,0
9997,1,44643.566381,96.493702,1,9997,hispanic,0,0,1,0
9998,2,79330.780632,115.147678,2,9998,asian,0,1,0,0
9999,1,29205.620369,253.996132,0,9999,hispanic,0,0,1,0

In [25]:
N = 100000
inv_logit = expit
x1 = np.random.binomial(1, p=0.5, size=N)
x2 = np.random.binomial(1, p=inv_logit(-3.*x1))
x3 = np.random.binomial(1, p=inv_logit(3.*x1))
x4 = np.bitwise_or(x2, x3)
x5 = np.random.binomial(1, p=inv_logit(3.*x4))
 
X = pd.DataFrame({'$x_1$': x1, '$x_2$': x2, '$x_3$': x3,
                  '$x_4$': x4, '$x_5$': x5})
X

       $x_1$  $x_2$  $x_3$  $x_4$  $x_5$
0          1      0      1      1      0
1          1      0      1      1      1
2          1      0      1      1      1
3          1      0      1      1      0
4          1      0      1      1      1
...      ...    ...    ...    ...    ...
99995      0      0      1      1      1
99996      0      1      0      1      1
99997      1      0      1      1      1
99998      0      0      1      1      1
99999      0      1      1      1      1

[100000 rows x 5 columns]

In [55]:
N = 100000
inv_logit = expit
x1 = np.random.binomial(1, p=0.5, size=N)
x2 = np.random.binomial(1, p=0, size=N)
x3 = np.random.binomial(1, p=inv_logit(3.*x1))
x4 = np.bitwise_or(x2, x3)
x5 = np.random.binomial(1, p=inv_logit(3.*x4))
 
X = pd.DataFrame({'$x_1$': x1, '$x_2$': x2, '$x_3$': x3,
                               '$x_4$': x4, '$x_5$': x5})
X

       $x_1$  $x_2$  $x_3$  $x_4$  $x_5$
0          0      0      1      1      0
1          1      0      1      1      1
2          1      0      0      0      0
3          0      0      1      1      1
4          1      0      1      1      1
...      ...    ...    ...    ...    ...
99995      0      0      0      0      0
99996      0      0      1      1      1
99997      0      0      1      1      1
99998      1      0      1      1      1
99999      1      0      1      1      1

[100000 rows x 5 columns]

In [56]:
X.groupby('$x_2$').mean()[['$x_5$']]

         $x_5$
$x_2$
0      0.82845

In [54]:
X['$x_5$'].mean()

0.9536

In [57]:
X['$x_5$'].mean()

0.82845